@model IEnumerable<Dating.Common.Models.Profile>
@using Dating.Helpers;
@using Dating.Controllers;
@{
	ViewBag.Title = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Potential matches</h2>


<div id="friendRequests">
	<table class="table">
		<tr>
			<th>

			</th>
			<th>
				Username
			</th>
			<th>
				First name
			</th>
			<th>
				Last name
			</th>
			<th></th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@if (item.ImagePath != null)
					{
						<img id="image_preview" type="image" src="@item.ImagePath" style="height:50px;width:50px; border-radius: 50%; outline: none;" alt="MyProfilePhoto">
					}
					else
					{
						<img id="image_preview" type="image" src="~/Content/Images/imageUndefined.png" style="height:50px;width:50px; border-radius: 50%; outline: none;" alt="MyProfilePhoto">
					}
				</td>
				<td>
					@Html.ActionLink(item.UserName, "ViewProfile", "Profile", new { profileId = item.Id }, null)
				</td>
				<td>
					@Html.ActionLink(item.FirstName, "ViewProfile","Profile", new { profileId = item.Id }, null)
				</td>
				<td>
					@Html.ActionLink(item.LastName, "ViewProfile", "Profile",new { profileId = item.Id }, null)
				</td>
				<td>
					
				</td>
			</tr>
		}
	</table>
</div>
@if (Model.Count() < 1)
{
	<h4>You have no potencial matches.</h4>
}
